/*--*****   General  */
.displayNone {
	display: none;
}

.orangeText {
	color:orange;
}

.greenText {
	color:green;
}
/* End of general */

/*--********  Navigation bar */
.navbarTeamName {
	color:black !important;
	font-size: 200%;
	font-weight: bold;
}

.bsafesNavbar {
  padding-top: 0;
  padding-bottom: 0;
}

.memberBadge {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-top: 5px;
  padding-top: 2px;
  border-radius: 50%;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
}
/* End of navigation bar */

/*--***** Custom buttons */
.btnCircle {
  width: 48px;
  height: 48px;
  text-align: center;
  border-radius: 50%;
}

.btnFloating {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: #FFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
  position: fixed;
  display: inline-block;
  cursor: default;
  padding-top: 8px;
  z-index:15000;
}

.btnFloatingAdd {
	padding-top:10px;
	padding-left:15px;
}

.btnFloatingWrite {
  background: #03A9F4;
  bottom: 12px;
  right: 24px;
  padding-left:10px;
}

.btnFloatingSave {
  background: #229954;
  bottom: 72px;
  right: 24px;
  padding-left:10px;
}

.btnFloatingCancel {
  background: #F39C12;
  bottom: 12px;
  right: 24px;
  padding-left:14px;
}

/* End of custom buttons */

/*--****** Safe *******/
	/* Safe general */

.safeItemTypeIcon {
  margin-right:20px;
}

.safeItem h2 {
  margin-top:10px;
}
/* End of Safe */

/*--****** Container *******/
/*--**** Container general */
.containerTitleLabel {
  min-height:120px;
  border-radius:5px;
  background-color:white;
  padding:10px 20px 10px 20px;
}

.containerControlPanel {
  background-color:black;
}

.containerCoverPanel, .containerContentsPanel, .notebookPanel, .diaryPanel, .boxPanel {
  position: relative;
  min-height: 860px;
  max-width:800px;
  margin:0px auto;
  padding-bottom:48px;
}

.containerOpenBtn {
  background: #7F8C8D;
  display: inline-block;
  margin: 0 1em 1em 0;
  padding-top:16px;
	width: 48px;
	height: 96px;
	border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
	position: absolute;
  right: -18px;
  cursor: pointer;
}

/* End of container general */
/*--***** Notebook */
.notebookCoverPanel {
  border-left: 30px solid #000;
  background-color:#F2F3F4;
  border-radius:0 20px 20px 0;
}
/* End of notebook */


/*--****** Page *******/
/*--***** Page general */
.pagePanel {
  background-color:rgb(255, 255, 255);
  min-height:860px;
  margin-top:20px;
  margin-bottom:20px;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:48px;
}

.pageBackground {
  background-color: rgb(161, 158, 158);
  padding-bottom:30px;
}

.leftPagePanel {
  border-radius: 20px 0 0 20px;
}

.rightPagePanel {
  border-radius: 0 20px 20px 0;
}
.imagesDragDropZone {
  border: 2px dashed #e4e1e1;
  background-color: aliceblue;
  margin-bottom: 10px;
}

.imagesDragDropZoneActive {
  border: 2px dashed #e4e1e1;
  background-color: white;
  margin-bottom: 10px;
}

.attachmentsDragDropZone {
  border: 2px dashed #e4e1e1;
  background-color: blanchedalmond;
  margin-bottom: 10px;
}

.attachmentsDragDropZoneActive {
  border: 2px dashed #e4e1e1;
  background-color: white;
  margin-bottom: 10px;
}

/* End of Page */

/*--****** Editor *******/
/*--***** Editor general */
.editorRow {
  min-height:60px;
}
/* End of Page */

/*--****** Diary */
.diaryCoverPanel {
  border-left: 30px solid #000;
  background-color:#FEF5E7;
  border-radius:0 20px 20px 0;
}
.diaryContentsPagination {
  width:auto;
  display:inline-block;
}
.diaryControlsPanelBody {
  padding-top:0px;
  padding-bottom:10px;
  padding-left:5px
}
#datepicker {
	position: relative; 
	z-index: 100000;
}
.diaryDateRow {
	margin-top:20px;
}	
.diaryHRBelowDate {
	margin-top:0px;
}	
.containerContentsPageTitle {
  color:#000;
  font-size:100%;
  font-family:Ariel, Verdana;
  text-decoration: none;
}
.marginTopBottom0Px {
	margin-top:0px;
	margin-bottom:0px;
}
/* End of diary */