.contenEditorRow .fr-box.fr-basic .fr-element.fr-view {
  font-family: "Roboto", Arial, Sans-Serif;
  font-size: 18px;
  color: #444444;
}

.fr-view table.fr-no-borders td,
.fr-view table.fr-no-borders th {
  border: none;
}

.pageCommons .fr-element.fr-view {
  /*background-color:faf5f1*/
  background-color: #fff;
}

